.cover__bg-image {
    width: 100%;
    margin: 0 auto;
}

@media screen and (max-width: 1024px) {
    .cover__bg-image {
        height: calc(100vw * 0.55);
        object-fit: cover;
    }
}

@media screen and (max-width: 768px) {
    .cover__bg-image {
        height: calc(100vw * 0.7);
    }
}


@media screen and (max-width: 375px) {
    .cover__bg-image {
        height: calc(100vw * 0.73);
    }
}
