@import "../__title/place__title.css";
@import "../__website/place__website.css";
@import "../__image/place__image.css";
@import "../__descr/place__descr.css";


.place {
    display: grid;
    grid-template-columns: 460px 1fr;
    grid-gap: 60px 40px;
    max-width: 984px;
    margin: 72px auto 0;
}

@media screen and (max-width: 1024px) {

    .place {
        grid-template-columns: repeat(auto-fill, minmax(340px, max-content));
        grid-gap: 40px 32px;
    }

}

@media screen and (max-width: 768px) {

    .place {
        grid-template-columns: repeat(auto-fill, minmax(280px, max-content));
        grid-gap: 40px 28px;
    }
}

@media screen and (max-width: 375px) {

    .place {
        margin-top: 48px;
        grid-gap: 32px;
    }
}
