.places {
    margin-top: 92px;
}

.place {
    display: grid;
    grid-template-columns: 460px 1fr;
    grid-gap: 60px 40px;
    max-width: 984px;
    margin: 72px auto 0;
}

.place__title {
    font-weight: 900;
    font-size: 72px;
    line-height: 65px;
}

.place__website {
    position: relative;
}

.absolute {
    position: absolute;
    left: 0;
    bottom: 0;
}

.place__website_head {
    color: #AAAAAA;
    font-size: 12px;
    letter-spacing: 0.2em;
    margin-bottom: 16px;
}

.place__website_url {
    color: white;
    font-size: 18px;
}

.place__descr_text {
    font-size: 18px;
    line-height: 30px
}

.place__image {
    width: 100%;
}

.place__descr_text:first-child {
    margin-bottom: 36px;
}

@media screen and (max-width: 1024px) {
    .places {
        padding: 0 48px;
    }

    .place {
        grid-template-columns: repeat(auto-fill, minmax(340px, max-content));
        grid-gap: 40px 32px;
    }

    .place__website {
        margin-top: 30px;
    }
}

@media screen and (max-width: 768px) {
    .places {
        padding: 0 24px;
    }

    .place {
        grid-template-columns: repeat(auto-fill, minmax(280px, max-content));
        grid-gap: 40px 28px;
    }

    .place__title {
        font-size: 42px;
        line-height: 46px;
        max-width: 300px;
    }

    .place__descr_text {
        font-size: 16px;
        line-height: 27px
    }
}

@media screen and (max-width: 375px) {
    .places {
        padding: 0;
    }

    .place {
        margin-top: 48px;
        grid-gap: 32px;
    }

    .place__title {
        font-size: 32px;
        line-height: 35px;
        padding: 0 16px;
    }

    .place__website {
        display: none;
    }

    .place__descr {
        padding: 0 16px;
    }

    .place__descr_text:first-child {
        margin-bottom: 24px;
    }
}

@media screen and (max-width: 320px) {
}
