@import "__logo/header__logo.css";
@import "__lang/header__lang.css";
@import "__lang-text/header__lang-text.css";

.header {
    display: flex;
    justify-content: space-between;
    max-width: 1185px;
    margin: 0 auto;
    align-items: center;
    padding-top: 30px;
}


@media screen and (max-width: 1280px) {
    .header {
        margin: 0 48px;
    }
}


@media screen and (max-width: 768px) {
    .header {
        margin: 0 24px;
    }
}

@media screen and (max-width: 375px) {

    .header {
        padding-top: 16px;
        margin: 0 16px;
    }
}
