.place__descr_text {
    font-size: 18px;
    line-height: 30px;
    margin: 0;
}

.place__descr_text:first-child {
    margin-bottom: 36px;
}

@media screen and (max-width: 768px) {

    .place__descr_text {
        font-size: 16px;
        line-height: 27px
    }
}

@media screen and (max-width: 375px) {

    .place__descr_text:first-child {
        margin-bottom: 24px;
    }
}
