.video__box_play {
    cursor: pointer;
    fill: white;
    transition: fill .2s;
    position: absolute;
    left: 30px;
    top: 30px;
}

.video__box_play:hover {
    fill: #ad7d8f;
}

@media screen and (max-width: 1024px) {
    .video__box_play {
        left: 20px;
        top: 20px;
    }
}
